<h1>Create Your Profile<h1>
<%=form_with model: @user do|form|%>
<div>
<%=form.label :username%><br>
<%= form.text_field :username ,placeholder: "User Name"%>
</div>



<div>
<%=form.label :email%><br>
<%= form.text_field :email, placeholder: "Email"%>
</div>



<div>
<%=form.label :password%><br>
<%= form.password_field :email, placeholder: "Password"%>

</div>

<%=form.submit%>
<%end%>
<%=link_to "All Users" ,users_path%>